<!-- footer section -->
<footer class="footer">
  <div class="footer-logo">
      <img width="60px" height="60px" src="Assets/Frontend_Assets/logo.png" alt="logo">
      <p>G-STORE</p>
  </div>
  <ul class="footer-links">
      <li>Company</li>
      <li>Products</li>
      <li>Offices</li>
      <li>About</li>
      <li>Contact</li>
  </ul>
  <div class="footer-social">
      <div class="icon-container">
          <img src="Assets/Frontend_Assets/instagram_icon.png" alt="instagram">
      </div>

      <div class="icon-container">
          <img src="Assets/Frontend_Assets/pintester_icon.png" alt="pintester">
      </div>

      <div class="icon-container">
          <img src="Assets/Frontend_Assets/whatsapp_icon.png" alt="whatsapp">
      </div>
  </div>
  <div class="footer-copyright">
      <hr />
      <p>&copy; 2025 G-STORE. All rights reserved</p>
  </div>
</footer>
