/* Contact Section */
#section-wrapper {
  width: 90%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 80px;
  padding: 0 140px;
  margin-bottom: 100px;
  background: linear-gradient(180deg, #1B2430, #51557E 60%);
  gap: 30px;
  border-radius: 20px;
}

#section-wrapper .container {
  width: 1140px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px; /* تم إضافة مسافة بين النموذج والخريطة */
}

.left {
  width: 50%;
  padding: 20px 0px;
}

#section-wrapper form {
  width: 100%;
}

#section-wrapper form hr {
  width: 200px;
  height: 6px;
  border-radius: 10px;
  background: #D6D5A8;
  margin: 0 0 20px 0;
}

#section-wrapper h1 {
  padding: 24px 0px;
  font-size: 40px;
  color: #D6D5A8;
}

#section-wrapper label {
  font-size: 20px;
  position: relative;
  top: 8px;
  color: #D6D5A8;
  margin-bottom: 10px; 
  display: block;
}

#section-wrapper input,
#section-wrapper textarea {
  width: 100%;
  border: 1px solid #666666;
  padding: 12px 0px;
  font-size: 16px;
  margin: 10px 0px;
  border-radius: 4px;
  text-indent: 8px;
  background: #1B2430;
  color: #D6D5A8;
}

#section-wrapper input::placeholder,
#section-wrapper textarea::placeholder {
  color: #8b8b75;
}

#section-wrapper button {
  width: 100%;
  padding: 12px 8px;
  font-size: 16px;
  font-weight: 500;
  background: #816797;
  border: 1px solid #816797;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s ease;
}

#section-wrapper button:hover {
  background: #6a577a;
}

#section-wrapper .right {
  width: 50%;
  height: 540px;
  margin-top: 12px;
  overflow: hidden;
  border-radius: 4px;
}

#section-wrapper .right iframe {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 25px;
}

small {
  color: #ff4141;
}
