<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ecommerce website</title>
</head>

<body>

  <!-- hero section -->

  <section class="hero">
    <div class="hero-left">
      <h2>NEW ARRIVALS ONLY</h2>
      <div>
        <div class="hero-hand-icon">
          <p>new</p>
        </div>
        <p>collections</p>
        <p>for everyone</p>
      </div>
      <div class="hero-latest-btn">
        <div>Latest Collection</div>
        <img src="Assets/Frontend_Assets/arrow.png" alt="arrow">
      </div>
    </div>
    <div class="hero-right">
      <img src="Assets/Frontend_Assets/hero_image.png" alt="hero image">
    </div>

  </section>

  <!-- popular section  -->
  <section class="popular">
    <h1>POPULAR IN WOMEN</h1>
    <hr />
    <div class="popular-items">
      <div class="product">

        <img src="Assets/Frontend_Assets/product_1.png" alt="Striped Flutter Sleeve Overlap Collar Peplum Hem Blouse">
        <h3>Striped Flutter Sleeve Overlap Collar Peplum Hem Blouse</h3>

        <div class="price">
          <span class="new-price">$50.00</span>
          <span class="old-price">$80.50</span>
        </div>
      </div>
      <div class="product">
        <img src="Assets/Frontend_Assets/product_2.png" alt="Striped Flutter Sleeve Overlap Collar Peplum Hem Blouse">
        <h3>Striped Flutter Sleeve Overlap Collar Peplum Hem Blouse</h3>
        <div class="price">
          <span class="new-price">$85.00</span>
          <span class="old-price">$120.50</span>
        </div>
      </div>
      <div class="product">
        <img src="Assets/Frontend_Assets/product_3.png" alt="Striped Flutter Sleeve Overlap Collar Peplum Hem Blouse">
        <h3>Striped Flutter Sleeve Overlap Collar Peplum Hem Blouse</h3>
        <div class="price">
          <span class="new-price">$60.00</span>
          <span class="old-price">$100.50</span>
        </div>
      </div>
      <div class="product">
        <img src="Assets/Frontend_Assets/product_4.png" alt="Striped Flutter Sleeve Overlap Collar Peplum Hem Blouse">
        <h3>Striped Flutter Sleeve Overlap Collar Peplum Hem Blouse</h3>
        <div class="price">
          <span class="new-price">$100.00</span>
          <span class="old-price">$150.00</span>
        </div>
      </div>
    </div>

  </section>

  <!-- offers section -->
  <section class="offers">
    <div class="offers-left">
      <h1>Exclusive</h1>
      <h1>Offers For You</h1>
      <p>ONLY ON BEST SELLERS PRODUCTS</p>
      <button>Check Now</button>
    </div>
    <div class="offers-right">
      <img src="Assets/Frontend_Assets/exclusive_image.png" alt="offers image">
    </div>
  </section>

  <!-- new cillection section -->
  <section class="collections">
    <h1>New Collections</h1>
    <hr />
    <div class="collections-items">
      <!-- product 1 -->
      <div class="collection">
        <img src="Assets/Frontend_Assets/product_12.png"
          alt="Striped Flutter Sleeve Overlap Collar Peplum Hem Blouse" />
        <p>Striped Flutter Sleeve Overlap Collar Peplum Hem Blouse</p>
        <div class="price">
          <span class="new-price">$50.00</span>
          <span class="old-price">$80.50</span>
        </div>
      </div>
      <!-- product 2 -->
      <div class="collection">
        <img src="Assets/Frontend_Assets/product_35.png"
          alt="Striped Flutter Sleeve Overlap Collar Peplum Hem Blouse" />
        <p>Boys Orange Colourblocked Hooded Sweatshirt</p>
        <div class="price">
          <span class="new-price">$85.0</span>
          <span class="old-price">$120.5</span>
        </div>
      </div>
      <!-- product 3 -->
      <div class="collection">
        <img src="Assets/Frontend_Assets/product_14.png"
          alt="Striped Flutter Sleeve Overlap Collar Peplum Hem Blouse" />
        <p>Men Green Solid Zippered Full-Zip Slim Fit Bomber Jacket</p>
        <div class="price">
          <span class="new-price">$60.00</span>
          <span class="old-price">$100.50</span>
        </div>
      </div>
      <!-- product 4 -->
      <div class="collection">
        <img src="Assets/Frontend_Assets/product_8.png" alt="Striped Flutter Sleeve Overlap Collar Peplum Hem Blouse" />
        <p>Striped Flutter Sleeve Overlap Collar Peplum Hem Blouse</p>
        <div class="price">
          <span class="new-price">$100.00</span>
          <span class="old-price">$150.50</span>
        </div>
      </div>
      <!-- product 5 -->
      <div class="collection">
        <img src="Assets/Frontend_Assets/product_15.png"
          alt="Striped Flutter Sleeve Overlap Collar Peplum Hem Blouse" />
        <p>Men Green Solid Zippered Full-Zip Slim Fit Bomber Jacket</p>
        <div class="price">
          <span class="new-price">$50.00</span>
          <span class="old-price">$80.50</span>
        </div>
      </div>
      <!-- product 6 -->
      <div class="collection">
        <img src="Assets/Frontend_Assets/product_2.png" alt="Striped Flutter Sleeve Overlap Collar Peplum Hem Blouse" />
        <p>Striped Flutter Sleeve Overlap Collar Peplum Hem Blouse</p>
        <div class="price">
          <span class="new-price">$85.00</span>
          <span class="old-price">$120.50</span>
        </div>
      </div>
      <!-- product 7 -->
      <div class="collection">
        <img src="Assets/Frontend_Assets/product_17.png"
          alt="Striped Flutter Sleeve Overlap Collar Peplum Hem Blouse" />
        <p>Men Green Solid Zippered Full-Zip Slim Fit Bomber Jacket</p>
        <div class="price">
          <span class="new-price">$60.00</span>
          <span class="old-price">$100.50</span>
        </div>
      </div>
      <!-- product 8 -->
      <div class="collection">
        <img src="Assets/Frontend_Assets/product_28.png"
          alt="Striped Flutter Sleeve Overlap Collar Peplum Hem Blouse" />
        <p>Boys Orange Colourblocked Hooded Sweatshirt</p>
        <div class="price">
          <span class="new-price">$100.00</span>
          <span class="old-price">$150.50</span>
        </div>
      </div>
    </div>
  </section>

  <!-- newsletter section -->
  <section class="newsletter">
    <h1>Get Exclusive Offers On Your Email</h1>
    <p>Subscribe to our newsletter and stay updated</p>
    <div class="newlatters-form">
      <input type="email" placeholder="Enter your email" />
      <button>Subscribe</button>
    </div>
  </section>











  <script src="js/main.js"></script>
</body>

</html>
